page {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.tabbar-page {
  background-color: #f2f2f2;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

button.custom-button {
  width: 210rpx;
  height: 80rpx;
  border-radius: 40rpx;
  font-size: 28rpx;
  font-weight: 600;
  line-height: 80rpx;
  border: none;
  cursor: pointer;
  display: inline-block;
}

button.custom-confirm-button {
  background: rgba(24, 144, 255, 1);
  color: rgba(255, 255, 255, 1);
}

button.custom-cancel-button {
  border: 2rpx solid rgba(24, 144, 255, 1);
  background: rgba(218, 240, 255, 1);
  color: rgba(24, 144, 255, 1);
  margin-left: 30rpx;
}
